body {
  margin: 0;
  transition: background-color 3s;
  -webkit-transition: background-color 3s;
}

#changeHello {
  font-size: 250px;
  font-family: "Yatra One", cursive;
  position: absolute;
  left: 15%;
  top: -10%;
  width: 20vh;
  color: #080808;
}

.navigate {
  position: absolute;
  left: 60%;
  width: 20%;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  text-align: center;
  top: 40%;
}

a.button1 {
  font-size: 20px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #007a88;
  background-color: #ffffff;
}

.bgColour {
  font-family: "Audiowide", cursive;
  font-size: 15px;
  position: absolute;
  left: 2%;
  bottom: 2%;
  text-align: center;
}
