body, html {
  margin: 0;
  scroll-behavior: smooth;
}

#cookies-popup {
  z-index: 100000;
  max-width: 20vw;
  background-color: rgb(184, 81, 83);
  opacity: .6;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  transition: .2s all;
}
#cookies-popup:hover {
  opacity: 1
}

#cookies-popup p {
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: rgb(224, 224, 224);
  cursor: default;
}
.accept-wrap {
  display: flex;
  margin: 10px;
}
.cookies-accept {
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: rgb(31, 31, 31);
  background-color: rgb(224, 224, 224);
  font-size: 1.4em;
  margin: auto;
  width: 50%;
  padding: 10px 0;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  transition: .2s all;
}
.cookies-accept:hover {
  cursor: pointer;
  transform: scale(1.1)
}

#intro {
  background-color: #FEFEFE;
  height: 100vh;
  display: flex;
}

#showcase {
  height: 110vh;
  background-image: url("../imgs/bricks.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.showcase-plate {
  margin: auto;
  background-color: #FEFEFE;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
  transition: .2s all;
  display: flex;
}
.showcase-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.showcase-title {
  font-family: "Montserrat", "Open Sans", cursive;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  text-transform: uppercase;
}
.showcase-title::before {
  height: 4px;
  width: 50px;
  background-color: #b85153;
  position: absolute;
  top: 100%;
  left: 50%;
  content: '';
}

.showcase-image {
  width: 50vh;
  height: 50vh;
  transition: .2s all;
  margin: 50px;
}
.showcase-image:hover {
  box-shadow: 2px 8px 20px rgba(0, 0, 0, .7);
  transform: translate3D(0, -2px, 0) scale(1.03);
}
.showcase-image:hover {
  box-shadow: 2px 8px 20px rgba(0, 0, 0, .7);
  transform: translate3D(0, -2px, 0) scale(1.03);
}


.centered-text {
  margin: auto;
  text-align: center;
}

#about {
  height: 100vh;
}

#navigation {
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 2000;
}

#navigation a {
  background-color: #FEFEFE;
  float: right;
  color: black;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 17px;
  cursor: pointer;
  transition: .2s all;
  overflow: hidden;
}

#navigation a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #b85153;
}




.title {
  font-family: "Yatra One", "Open Sans", cursive;
  font-size: 10em;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.9);
}

.subtitle {
  font-size: 5em;
}

.bright-period {
  color: #b85153;
}

.scroll-to-next {
  border: 4px solid #b85153;
  padding: 30px;
  cursor: pointer;
  font-family: "Montserrat", "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 550;
  position: relative;
  text-decoration: none;
  color: black;
}
.scroll-to-next:after {
  height: 50px;
  width: 50px;
  border-right: 4px solid#b85153;
  border-bottom: 4px solid#b85153;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  content: '';
  transform: rotate(45deg);
  margin-top: -24px;
}
.tooltip {
  position: absolute;
  margin-top: 10px;
}
.tooltip-inner {
  z-index: 10000;
  padding: 10px;
  background-color: #b85153;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  color: #FEFEFE;
}